<h2>Administrera fiskeresultat</h2>
<p>Lägg in resultat efter tävlingen.</p>
<div class="row">
	<div class="col-sm-8 col-md-12 col-lg-12">

	<form class="form-horizontal" role="form" ng-submit="processForm(formData)">
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="year">År:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="year" placeholder="År" ng-model="formData.year">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="year">Placering:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="place" placeholder="Placering" ng-model="formData.place">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="name">Namn</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="name" placeholder="Namn" ng-model="formData.name">
		    </div>
		  </div>
		  <div class="form-group">
 		    <label class="control-label col-sm-2" for="score">Antal fiskar</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="score" placeholder="Antal fiskar" ng-model="formData.score">
		    </div>
		  </div>
		  <div class="form-group"> 
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary">Spara</button>
		      <!--		      <button type="submit" class="btn btn-primary" ng-click="processForm()">Submit</button>
-->
		    </div>
		  </div>
	</form>
	</div>
</div>