<div class="page-header">
<h2>Axels midsommarfiske</h2>
</div>
<img class="img-responsive" src="fishingimages/group_2016.JPG" /> 
<p>
<p>På midsommardagen varje år samlas släkt och vänner för den stora fisketävlingen i Konrads tjärn. Många abborrar har dragits upp genom åren. Förutom äran vinner segraren en guldskimrande vandringspokal.</p> <p>Tröstpriset "Trollet" delas också ut till en lycklig vinnare.</p>
<div class="row">
    <div class="col-sm-8 col-md-12 col-lg-12">
    <h2>Resultat</h2>
    <p>Välj år för att se resultatlistan.
    <div class="panel-group" id="accordion">
        <!--<div class="panel panel-default" ng-repeat="year in years | limitTo : numberOfYears">-->
        <div class="panel panel-default" ng-repeat="year in years">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" ng-click="getParticipantsForYear(year); getImageForYear(year)" data-parent="#accordion" href="#{{year}}" ng-bind="year"></a>
                </h4>
            </div>
            <div id="{{year}}" class="panel-collapse collapse">
                <div class="panel-body">
                <div class="result">
                    <table class="table table-striped">   
                    <tbody>
                        <tr ng-repeat="participant in participants">
                            <td ng-bind="participant.place"></td>
                            <td ng-bind="participant.name"></td>
                            <td>{{participant.score}}p</td>
                            <!--activate to be able to delete participants-->
                            <!--<td><button ng-class="close" class="glyphicon glyphicon-remove" ng-click="deleteScore(participant)"></button></td>-->
                        </tr>
                        
                    </tbody>
                    </table>
                </div>
                <div class="result">
                    <img id="img{{year}}" class="img-thumbnail" src="#">
                </div>
                </div>
            </div>
        </div>        
    </div>
    
</div>
