
body {
    background: radial-gradient(ellipse, #191a00, white) no-repeat;
	/* Ensure the html element always takes up the full height of the browser window */
	/*min-height:100%;*/

	/* The Magic */
/*	background-size:cover;	*/
}

.result {
        width:50%;
        float:left;
}

.sign {
	font-family: 'Satisfy', sans-serif;
	font-size: 140%;
}

.fishingimage {
	margin: 3px;
}

#fishingimage {
	margin-bottom: 10px;
}

.img-thumbnail {
	margin-left: 5px;
}

#clockdiv {
	padding-top: 14px;
	padding-bottom: 14px;
}
#clock {
	padding-left: 10px;
	padding-right: 10px;

}
li {
	padding-right: 10px;
}


